<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Usuarios</title>
</head>
<body>
  <h1>Lista de Usuarios</h1>
  <ul>
    <% usuarios.forEach(usuario => { %>
      <li><%= usuario.nombre %> - <%= usuario.email %></li>
    <% }); %>
  </ul>
</body>
</html>
